@tailwind base;
@tailwind components;
@tailwind utilities;  
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
}

body {
    background-color: #121212;
    justify-items: center;

}